@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root {
    --blue: #180161;
    --purple: #4F1787;
    --purple-shadow: #b383e3;
    --red: #EB3678;
    --orange: #FB773C;
    --radius: 50px;
    --light:#eee;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--light);
}

body.dark {
    background-color: #101020;
    color: var(--light);
}

a {
    text-decoration: none;
    color: var(--purple);
}
body.dark a{
    color: var(--light);
}
footer {
    text-align: center;
    color: gray;
    margin-top: 3rem;
    font-size: 14px;
}