 h1 {
     text-align: center;
     color: #180161;
     text-transform: uppercase;
     font-size: 48px;
     font-family: "Salsa", cursive;
     font-weight: 800;
     font-style: normal;
 }

 .theme {
     position: fixed;
     right: 20px;
     top: 20px;
     background: transparent;
     border: none;
     cursor: pointer;

 }

 .theme svg {
     width: 20px;
     height: 20px;
 }

 .theme svg {
     stroke: #000;
 }

 .dark .theme svg {
     stroke: #fff;
     fill: yellow;
     filter: drop-shadow(0 0 7px yellow);
 }

 svg #waves {
     fill: #eee
 }

 body.dark svg #waves {
     fill: #101020
 }

 .container {
     display: grid;
     grid-template-columns: repeat(4, minmax(200px, 330px));
     text-align: center;
     justify-content: center;
 }

 .card {
     margin: 1rem;
 }

 .item {
     background-color: #101020;
     margin: 1rem;
     border-radius: 10px 10px 0 0;
     padding: 1rem 1rem 4rem;
     color: #fff;
     background: linear-gradient(#fff, var(--blue));
     /* box-shadow: 2px 2px 6px var(--blue); */
     transition: transform 0.3s;
     cursor: pointer;
     position: relative;
 }

 .dark .item {
     color: #101020;

     background: linear-gradient(var(--blue), #fff);
 }

 .item:nth-child(even) svg {
     border: 5px solid red;
 }

 svg.wave {
     position: absolute;
     bottom: -5px;
     right: -5px;

 }

 .item:hover {
     transform: translate(3px, 3px);
 }

 img {
     border-radius: var(--radius) 0 var(--radius) 0;

     width: 100%;
     box-shadow: 0 0 5px #fff;
 }

 .filter {
    max-width: calc((330*4px) - (16*4px));
    margin: auto;
     padding: 0 20px;
 }

 .filter h2 {
     margin-left: 10px;
 }

 .field {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 .field>div {
     padding: 10px;
     margin: 10px;
     border-radius: 10px;
     background: #e6e1e1;
     box-shadow: 0 0 5px var(--purple-shadow);
     transition: transform 0.3s;

 }

 body.dark .field>div, .dark .filter button {
     background: #251c2c;
 }


 .field h3 {
     color: var(--purple);
     font-size: 17px;
     text-transform: capitalize;
 }

 body.dark .field h3, .dark .filter button {
     color: var(--purple-shadow);
 }

 label {
     color: #444;
     font-size: 15px;
     cursor: pointer;
     margin-left: 5px;
 }

 .dark label {
     color: #dadada;
 }

 .first_album>div,
 .creation_date>div {
     display: flex;
     justify-content: space-between;
 }

 #first_album,
 #creation_date {
     display: block;
     margin-top: 10px;
     text-align: center;
 }

 .my_range {
     display: flex;
     align-items: center;
 }


 input[type=range] {
     margin: 0 10px;
     cursor: pointer;
 }

 .members>div {
     display: inline;
 }

 input[type=checkbox] {
     cursor: pointer;
     margin-left: 0;
 }

 .filter button {
     width: calc(100% - 20px);
     background-color: #e6e1e1;
     color: var(--purple);
     border: none;
     padding: 1rem;
     cursor: pointer;
     box-shadow: 0 0 5px var(--purple-shadow);
     border-radius: 10px;
     font-size: 23px;
     font-weight: 800;
     transition: transform 0.3s;
     margin: 10px;

 }


 .filter button:hover, .field>div:hover {
     transform: translate(3px, 3px);
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (max-width: 992px) {
     .card {
         margin: 0;
     }

 }


 @media only screen and (max-width: 768px) {

     .field {
         grid-template-columns: 1fr;
     }

     .container {
         grid-template-columns: repeat(3, 30%);
         gap: 10px;
     }

 }

 @media only screen and (max-width: 600px) {


     :root {
         --radius: 20px;
     }


     .theme {
         position: absolute;
     }

     .filter {
         padding: 0 5px;

     }

     h1 {
         font-size: 26px;
     }


     .field>div {
         padding: 5px;

     }

     .field h3 {
         margin-top: 5px;
         text-align: center;
     }

     .field>div div .my_range:nth-child(2) input[type=range] {

         margin-right: 0;
     }

     #waves {
         display: none;
     }

     .container {
         grid-template-columns: repeat(2, 50%);
         gap: 0;
     }

     .card {
         margin: 5px;
     }

     .item {
         margin: 5px;
         padding: 10px 5px;
     }

     img {
         width: 90%;
         border: none;

     }

     .name {
         font-size: 14px;
         margin: 5px;
     }


     /* filter */
     label {
         font-size: 14px;
     }

     [type=range] {
         width: 100px;
     }
 }